### Tuple
-----------------------------------------------------------------------------
Xem thêm về [Tuple](https://www.w3schools.com/python/python_tuples.asp)

Tuple cũng tương tự như List là một chuỗi chứa các phần tử được xếp **theo thứ tự** nhưng khác nhau ở chỗ Tuple có tính chất **bất biến (immutable) - không thể thay đổi.**

#### I. Khởi tạo một Tuple

In [1]:
tuple1 = ("Nguyen Anh Khoa", 22, "Ton Duc Thang", "Nam")

In [2]:
tuple1

('Nguyen Anh Khoa', 22, 'Ton Duc Thang', 'Nam')

In [3]:
tuple2 = "angry", "happy", "sad", "sorrow"

In [4]:
tuple2

('angry', 'happy', 'sad', 'sorrow')

In [5]:
tuple3 = tuple()

In [6]:
tuple3

()

#### II. Truy cập các phần tử trong Tuple

In [8]:
tuple4 = ("Nguyen Thi Hoa", 22, "Kinh Te Doi Ngoai", "Nu")

In [9]:
tuple4[0]

'Nguyen Thi Hoa'

In [10]:
tuple4[1]

22

In [12]:
tuple4[3]

'Nu'

#### III. Các hàm trong Tuple
  - Vì tuple bất biến nên không thể sử dụng hàm như append(), pop() giống như List

In [13]:
tuple5 = "car", "bike", "bicycle", "skateboard", "truck"

In [14]:
tuple6 = "ship", "airplane", "vehicle"

In [15]:
# cộng 2 tuple được bởi vì không có thay đổi gì trong tuple5 và tuple6 mà tạo ra một vùng nhớ mới chứa giá trị kết quả
tuple5 + tuple6

('car',
 'bike',
 'bicycle',
 'skateboard',
 'truck',
 'ship',
 'airplane',
 'vehicle')

In [16]:
tuple5

('car', 'bike', 'bicycle', 'skateboard', 'truck')

In [17]:
tuple6

('ship', 'airplane', 'vehicle')

###### 1. count()
  - Trả về số lượng của một phần tử trong Tuple

In [18]:
tuple7 = (2, 3, 2, 1, 5, 2, 9, 2)

In [19]:
tuple7.count(2)

4

###### 2. index()
  - Trả về chỉ mục đầu tiên của phần tử trong Tuple

In [20]:
animals = ("dog", "cat", "mouse", "dog", "ant", "horse")

In [21]:
animals.index("dog")

0

###### 3. map()
  - Trả về một tuple dựa trên điều kiện cho trước

In [22]:
tuple8 = (1, 2, 3, 4, 5, 6, 7)

In [27]:
def binhphuong(x):
  return x ** 2

In [28]:
tuple(map(binhphuong, tuple8))

(1, 4, 9, 16, 25, 36, 49)

###### 4. filter()
  - Trả về một tuple được lọc theo một điều kiện cho trước

In [36]:
tuple9 = "Hoa", "22", "2001", "Khoa", "86", "21"

In [34]:
# tạo hàm lọc chuỗi chữ cái
def filterAlphebet(e):
  return e.isalpha()

In [31]:
# tạo hàm lọc chuỗi số 
def filterDigit(e):
  return e.isdigit()

In [37]:
tuple(filter(filterAlphebet, tuple9))

('Hoa', 'Khoa')

In [38]:
tuple(filter(filterDigit, tuple9))

('22', '2001', '86', '21')

###### 5. for in

In [39]:
for e in (2, 4, 6, 8, 10):
  print(e/2)

1.0
2.0
3.0
4.0
5.0

###### 6. in
  - Kiểm tra phần tử tồn tại trong Tuple

In [40]:
if (1 in (1, 2, 3)):
  print("La so 1")
else:
  print("Khong la so 1")

La so 1

###### 7. while loop

In [41]:
tuple10 = (1, 2, 1, 3, 1, 5, 4)

In [43]:
i = 0
while (i < len(tuple10)):
  print(tuple10[i])
  if tuple10[i] == 5:
    break
  i += 1

1
2
1
3
1
5

###### 8. enumerate()
  - Trả về một enumerate Object là một list chứa các phần tử tuple mới, tuple mới bao gồm giá trị của phần tử tuple ban đầu và giá trị chỉ mục của nó. 
  - Hàm này thường được sử dụng khi bạn muốn sử dụng cả giá trị và chỉ mục trong tuple.

In [44]:
names = ("Khoa", "Hoa", "Bich", "Bao", "Hai")

In [45]:
print(list(enumerate(names)))

[(0, 'Khoa'), (1, 'Hoa'), (2, 'Bich'), (3, 'Bao'), (4, 'Hai')]

###### 9. reverse()
  - Trả về một reversed Object trong đó các phần tử được đảo ngược vị trí

In [46]:
shops = "Pet", "Bakery", "Fishing", "Milk"

In [47]:
print(tuple(reversed(shops)))

('Milk', 'Fishing', 'Bakery', 'Pet')

###### 10. zip()
  - Nhóm các phần tử trong các tuple ở vị trí có chỉ mục tương ứng, mỗi nhóm trở thành một tuple đồng thời là một phần tử tương ứng trong một tuple mới

In [48]:
pets = "dog", "cat", "mouse"

In [49]:
foods = "bone", "fish", "cheese"

In [50]:
tuple(zip(pets, foods))

(('dog', 'bone'), ('cat', 'fish'), ('mouse', 'cheese'))

###### 11. sorted()
  - Trả về tuple được sắp xếp lại

In [51]:
letters = "k", "q", "a", "c", "z", "t"

In [52]:
tuple(sorted(letters))

('a', 'c', 'k', 'q', 't', 'z')

###### 12. sum()
  - Trả về tổng các phần tử trong tuple
  - Throw error nếu một phần tử trong tuple không phải dạng số

In [53]:
numbers = (1, 521, 233, 21)

In [54]:
sum(numbers)

776

In [55]:
mixed = (1, "Khoa", 229)

In [56]:
sum(mixed)

TypeError: ignored

###### Tìm hiểu thêm tại [Tuple](https://www.tutorialspoint.com/python/python_tuples.htm)