### Pandas
-----------------------------------------------------------------------------

Tìm hiểu thêm về [Pandas](https://www.w3schools.com/python/pandas/default.asp)

#### I. Khởi tạo dữ liệu cho Pandas
  - Gọi thư viện

In [1]:
import pandas as pd

  - Kiểm tra phiên bản của pandas

In [2]:
print(pd.__version__)

1.3.5

  - Dữ liệu thao tác với Pandas

In [3]:
mydataset = {
    'books' : ["Education", "Sport", "Travel"],
    'point' : [8.5, 9, 10]
}

In [6]:
mytable = pd.DataFrame(mydataset)

In [7]:
mytable

       books  point
0  Education    8.5
1      Sport    9.0
2     Travel   10.0

### II. Series
  - Chuỗi Pandas như một cột trong bảng
  - Nó là mảng một chiều chứa dữ liệu thuộc bất kỳ kiểu nào.

In [8]:
numbers = [3, 2, 1, 4, 5, 6]

In [9]:
mytable = pd.Series(numbers)

In [10]:
mytable

0    3
1    2
2    1
3    4
4    5
5    6
dtype: int64

### III. Lable (Series)
  - Nếu không có gì khác được chỉ định, các giá trị được gắn nhãn với số chỉ mục của chúng. Giá trị đầu tiên có chỉ số 0, giá trị thứ hai có chỉ số 1, v.v.
  - Nhãn này có thể được sử dụng để truy cập một giá trị được chỉ định.

In [11]:
mytable[0]

3

In [12]:
numbers1 = [2, 1, 5]

In [13]:
mytable1 = pd.Series(numbers1, index = ["num1", "num2", "num3"])

In [14]:
mytable1

num1    2
num2    1
num3    5
dtype: int64

In [16]:
mytable1["num3"]

5

### IV. DataFrame
  - Pandas DataFrame là một cấu trúc dữ liệu 2 chiều, giống như một mảng 2 chiều hoặc một bảng có các hàng và cột.

In [17]:
data = {
  "girls": ["Hoa", "Bich", "Lan"],
  "age": [22, 20, 19]
}

In [18]:
df = pd.DataFrame(data)

In [19]:
df

  girls  age
0   Hoa   22
1  Bich   20
2   Lan   19

  - Như bạn có thể thấy từ kết quả ở trên, DataFrame giống như một bảng với các hàng và cột.

  - Pandas sử dụng thuộc tính loc để trả về một hoặc nhiều (các) hàng được chỉ định

In [20]:
df.loc[0]

girls    Hoa
age       22
Name: 0, dtype: object

In [21]:
df.loc[[0, 1]]

  girls  age
0   Hoa   22
1  Bich   20